.site-footer{
	>div{
		padding-left: gutter();
		padding-right: gutter();
	}
	.nav-footer, .company-news{
		>div{
			padding:0;

			ul{
				li{
					a{
						padding: 5px 0;
						background-color: transparent;
						color: $brand-secondary;
						font-weight: normal;
						line-height:initial;
						&:hover{
							background-color: transparent;
							color: $brand-secondary;
						}
					}
				}
			}
		}

		@media only screen and (max-width: 1100px){
			display:none;
		}
    }

	.address-card{
		border:0;
		margin-bottom:0;
		padding:0;
		address{
			margin-bottom:0;
		}
		a{
			color: $brand-secondary;
		}
	}

	.social-media{
		margin-top:20px;
		.lg-social-media{
			display:flex;
			flex-wrap:wrap;

			li{
				padding-right:10px;
				&:last-child{
					padding-right:0;
				}
				.fa{
					width: 25px;
				    height: 25px;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    background-color: #fff;
				    color: $gray-dark;
				    border-radius: 5px;
				}
			}
		}
	}

	#site-legal{
		background-color: $brand-primary;
		color:#fff;
		a{
			color:#fff;
		}
	}

	.footer-title{
		font-size: 20px;
		color:#fff;
	}

	.twitter-feed{
		#ctf .ctf-item{
			padding: 0 5px 10px 5px;
			border:0;
			a{
				color: $brand-secondary;
			}
			.ctf-author-box{
				min-height: 0;
    			margin-bottom: 0;
    			.ctf-tweet-meta{
    				margin: 0;
    			}
			}
		}
	}

}