.site-header{
	z-index:999;
	box-shadow: 0 0 4px 1px $brand-secondary;
	&.sticky-header{
		position:fixed;
		width:100%;
		left:0;
		top:0;
		background-color: $sticky-header-bg-color;
		.mobile-toggle,.navbar-header{
			display:none;
		}
		@media (max-width: $screen-sm-min + 1){
			.site-branding{
				display:flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
			}
			.navbar{
				position: absolute;
			    left: 0;
			    top: 100%;
			    width: 100%;
			    z-index: 99999;
			    margin:0;
			    overflow-y: scroll;
			    .navbar-collapse{
			    	margin:0;
			    	overflow:hidden;
			    	padding:20px 0;
			    	background-color: #973d1f;
			    	a{
			    		color:#fff;
			    	}
			    	.navbar-nav{
			    		margin:0;
			    	}
			    }
			}
			.mobile-toggle{
				display:block;
			}
			
		}
	}
	.header-content{
		.utility-bar{
			font-size: 14px;
			background-color:black;
			display:none;
			padding: 0 gutter();

			@include breakpoint($screen-sm-min){
				display:block;
			}

			>div{
				display: flex;
    			justify-content: space-between;
    			.left{
    				display:flex;
    				align-items:center;
					.lg-social-media-cont{
						.lg-social-media{
							padding: 0;
						    margin: 0;
						    list-style: none;
						    display: flex;
						    li{
						    	a{
									width: 40px;
								    height: 40px;
								    display: flex;
								    text-align: center;
								    justify-content: center;
								    align-items: center;
								    background-color: $brand-primary;
						    		i{
										color:#fff;
						    		}
						    	}
						    }
						}
					}
					.header-address{
						padding: 0 15px;
    					color:#fff;
    					.fa-map-marker{
    						color:$brand-secondary;
    						font-size:15px;
    					}
					}
    			}
    			.right{
					display:flex;
					align-items:center;
					>div{
						padding-left:15px;
						span{
							color:#fff;
						}
						i{
							color:$brand-secondary;
							font-size:15px;
						}
					}
    			}
			}
		}
		.header-main{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: $header-block-padding;
			flex-wrap: wrap;

			@media only screen and (max-width: 1200px) and (min-width: 768px) {
			    flex-direction: column;
			    .main-navigation{
			    	margin-top:15px;
			    }
			}
			
			.site-branding{
				.logo{
					width: $header-logo-width;

					@include breakpoint($screen-sm-min){
						width: $header-logo-width-sm;
					}

					@include breakpoint($screen-md-min){
						width: $header-logo-width-md;
					}

					img{
						width:100%;
						display:block;
					}
				}
			}
		}

		.navbar{
			border:0;
		}
	}
}

.border-shadow{
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
}


.mega-menu-wrap{
	background: #fff !important;
	.mega-menu-toggle{
		display:none !important;
	}

	.mega-toggle-on > a{
		background: $brand-primary !important;
		color: #fff !important;
	}

	ul{
		&:not(.mega-sub-menu){
			>li:not(.mega-toggle-on){
				>a{
					&:focus{
						background: $brand-primary !important;
						color: #fff !important;
					}
				}
			}	
		}
	}

	@media only screen and (min-width: $screen-sm-min + 1){
		.mega-sub-menu{
				width: 100% !important;
			}
		ul.mega-sub-menu{
			padding: 15px 0 !important;
			background: #fff !important;
			border: 1px solid rgba(0, 0, 0, 0.15) !important;
    		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
			>li{
				h4{
					padding: 0 10px 15px 10px !important;
				}
				a{
					padding: 5px 10px;
					display:inline-block;
				}
			}
		}

		.mega-menu-link{
			background: #fff !important;
			color: $brand-primary !important;
			padding: 1px 15px !important;
		}

		.mega-menu-item-389, .mega-menu-item-396, .mega-menu-item-404, .mega-menu-item-405, .mega-menu-item-3852{
			>.mega-sub-menu{
				width: 300px !important;
			}
		}
		.mega-menu-item-404, .mega-menu-item-405, .mega-menu-item-3852{
			>.mega-sub-menu{
				right:0 !important;
			}
		}
	}

	@media only screen and (max-width: $screen-sm-min){
		.mega-sub-menu{
			width: 100% !important;
			padding:15px 0 !important;
			background:#fff !important;
			float:none !important;
		}
		.mega-menu-item-type-widget{
			h4{
				margin-bottom:10px !important;
			}
			a{
				padding: 6px 0 !important;
				display:inline-block;
			}
		}
		.mega-menu-item-has-children{
			>.mega-menu-link{
				background: $brand-primary !important;
				color: #fff !important;
			}
		}
		.mega-menu-link{
			background: #fff !important;
			color: $brand-primary !important;
			padding: 1px 15px !important;
		}
	}
}