.about-us{

	.who-we-are{
		.video{
		    float: right;
		    display: inline-block;
		    width: 100%;
		    max-width: 550px;
		    height: 300px;
		    margin: 0 0 50px 50px;
		    iframe{
		    	width: 100%;
    			height: 100%;
		    }
		}
	}

	.meaning{
		>div{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			>div{
				width: susy-span(12);
				margin-bottom: gutter() * 2;

				@include breakpoint($screen-sm-min){
					width: susy-span(12);	
				}


				@include breakpoint($screen-lg-min){
					width: susy-span(3);
					margin-bottom:0;
					&:first-child{
						width: susy-span(5);		
					}	
					&:nth-child(3){
						width: susy-span(4);
					}
				}
			}

			.trust-recovery{
				>div{
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					flex-wrap: wrap;
					max-width: 150px;
    				margin: auto auto;
					>ul{
						width: susy-span(12);	
						text-align:left;
						span{
							color:$brand-primary;
						}
					}

					@include breakpoint($screen-xs-min){
						max-width: 300px;
						>ul{
							width: susy-span(6);	
							text-align:left;
						}
					}
				} 
			}
			.reach{
				>div{
					display: flex;
    				justify-content: center;
					ul{
						text-align:left;
						span{
							color:$brand-primary;
						}
					}
				}
			}
		}
	}

}