.contact-us{

	.contact{
		@include split-content($copy-horizontal-padding: gutter() * 2, $copy-horizontal-margin: 0);
		>div:first-child{
			align-self: flex-start;

			section{
				padding: gutter() 0;
			}

			.logo{
				max-width: 350px;
    			margin: gutter() 0;
    			a,img{
    				width:100%;
    			}
			}
		}
		>div:nth-child(2){
			background-color: $brand-primary;
			.h3, .gfield_label{
				color:#fff;
			}

			.gform_wrapper{
				padding-left:0;
				padding-right:0;
				margin-top:0;
				padding-top:0;
				form{
					.gfield_label{
					    font-weight: 300;
					    margin-bottom: 0;
					    text-transform: uppercase;
					    font-size:.8rem;
					}
					.ginput_container{
						margin-top: 2px;
					}
					input[type='submit']{
						background-color: $headings-color;
						border-radius:0;
					}
				}
			}
		}

		.split-copy{
			padding-top: 60px !important;
			padding-bottom: 60px !important;
		}
	}

	.map{
		.map-main{
			text-align:center;
		}
		.gm-style{
			font: inherit;
		}
	}

}