.financial-assistance{
	.intro{
		>div{
			max-width:800px;
		}
	}
	.medicard{
		>div{
			@include split-content($image-width: 30%, $copy-width: 70%);
		}
	}
	.faq{
		h3{
			color: $brand-primary;
			font-style: italic;
			font-weight: 400;
		}
		.qa-section{
			padding: gutter() 0;
			>div{
				display:flex;
				>div:first-child{
					width: 20px;
				}
			}
		}
	}
}