.home{
	.home-banner{
		position: relative;

		.layers{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			>div{
				display: flex;
			    justify-content: space-between;
			    align-items: center;
			    height: 100%;
			    .headline{
			    	display:none;
					@include breakpoint(1000px){
						display:block;
					}
			    	h1{
			    		color: #fff;
			    		font-weight: 600;
			    		text-shadow: 0px 2px 9px black;
			    	}
			    }
			}
			.form{
				display:none;
				@include breakpoint(1000px){
					display:block;
				}
				#field_1_1{
					h3{
						color: #fff;
						font-weight: 600;
						text-transform: uppercase;
						span{
							display: block;
							color: $brand-primary;
						}
					}
				}
				.gfield_label{
					display:none !important;
				}
				.gform_footer{
					text-align:left;
					input[type='submit']{
						@extend .cta;
					}
				}
			}
			.banner-cta{
				display:block;
				margin-left:auto;
				margin-right:auto;
				@include breakpoint(1000px) {
					display:none;
				}
			}
		}
	}
	.counselling-services{
		@include split-content($image-width: 40%, $copy-width: 60%);
		.read-more{
			display:inline-block;
		}
	}
	.outpatient-program{
		>div{
			@include split-content($image-width: 40%, $copy-width: 60%);
			.split-image{
				iframe{
					width:100%;
				}
			}
			.split-copy{
				h2{
					span{
						color: $brand-primary;
					    font-style: italic;
					    display: block;
					    font-size: 70%;
					    margin-top: 5px;
					    font-weight: 400;
					}
				}
			}
		}
	}
	.personal-services{
		.content{
			@include split-content($image-width: 35%, $copy-width: 65%, $copy-align-top: true);
		}
	}
	.corporate-services{
		.content{
			@include split-content($image-width: 35%, $copy-width: 65%, $copy-align-top: true);
		}
	}
	.services{
		display:flex;
		flex-wrap:wrap;
		>div{
			width: 100%;
		    box-sizing: border-box;
		    margin-bottom: 20px;
		    @include breakpoint($screen-xs-min){
				width: 50%;
				padding-right: 25px;
		    }
		    @include breakpoint(1200px){
				width: 33.33%;
		    }
		    h3{
		    	font-size:1.3rem;
		    	color:$brand-primary;
		    	font-style:italic;
		    }
		    p{
		    	margin-bottom:5px;
		    }
		    a{
		    	color:$brand-primary;
		    }
		}
	}
}