.newsletter{
	.post-with-video{
		@include split-content($image-width: auto, $copy-width: 70%, $copy-align-top: true, $breakpoint: 1100px);
		.split-image{
			text-align: center;
			@include breakpoint(1100px){
				text-align: left;
			}
		}
	}
	.post-heading{
		margin-bottom: 15px;
		h2{
			margin-bottom:0;
		}
		span{
			font-style:italic;
		}
	}	
}