.team{
	.team-list{
		section{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom:0;
			}

			.team-details{
				@include split-content($image-width: 150px, $copy-width: calc( 100% - 150px ), $copy-align-top: true);
				.split-image{
					max-width: 150px;
					padding: 0 15px;
				}
			}
			.team-heading{
				margin-bottom: 15px;
				h2{
					margin-bottom:0;
					span{
						font-size: 65%;
					    font-style: italic;
					    font-weight: 300;
					}
				}
			}
		}
	}
}