.archive-event{
	.event-filter{
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
		li{
			padding: 0 10px;
			margin: 10px 0;
			border-right:1px solid $brand-primary;
			line-height: initial;
			&:last-child{
				border-right:none;
			}

			a{
				&.active{
					font-weight:600;
				}
			}
		}
	}
}