
.site-info{
	text-align: center;
	
	@include breakpoint($screen-sm-min){
		text-align: left;
	}
}

.site-longevity{
	text-align: center;

	@include breakpoint($screen-sm-min){
		text-align: right;
	}
}


// Navigation Stuff
.nav-footer{
	
	.nav-title{
		border-bottom: solid 1px $brand-primary;
	}

	ul{
		margin: 0;
		padding: 0;
		@extend .nav;
		@extend .nav-pills;
		@extend .nav-stacked;

		.current_page_item{
			@extend .active;
		}
	}
}


// Address Card
.address-card{
	@extend .well;
	background-color: transparent;
	// border-width: 0;
}

// Testimonial
.lg-testimonial{
	@extend .pt-lg;
	@extend .pb-lg;
	@extend .block;
	background-repeat: no-repeat;
    background-size: cover;
    box-sizing:border-box;

	&::before {
	    content: '\f10d';
	    font: normal normal normal 31px/1 FontAwesome;
	    color: $headings-color;
	    margin-bottom: 23px;
	    display: block;
	    text-align:center;
	}

	>h2{
		@extend .container;
		color:#fff;
	}

	>div{
		@extend .container;

		h2, div, p, span, a{
			color:#fff;
		}

		h1, h2, h3, h4, h5, h6{
			font-style: italic;
		}

		blockquote{
			border-left: 0;
			margin-bottom:10px;
		}
	}
}

.cta{
    padding: 10px 25px;
    background-color: $brand-primary;
    color:#fff;
    border: 2px solid $brand-primary;
    border-radius: 0;
    display:inline-block;
    &:hover{
        background-color: #fff;
        color: $brand-primary;
    }
}

.event{
	max-width: 500px;
	margin: auto auto;
	>div{
		width: 100% !important;
		h3{
			padding-top: 0 !important;
			font-size: 1.5rem;
		}
		p{
			font-size:1rem !important;
		}
	}
}

.events{
	display: flex;
	flex-wrap: wrap;
	>div{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		padding: 15px 25px;
		@include breakpoint($screen-xs-min){
			flex-direction: row;
			align-items: flex-start;
		}
		@include breakpoint($screen-sm-min){
			width: 50%;
		}
		@include breakpoint($screen-md-min){
			width: 33.33%;
		}

		.date{
			display:flex;
			color:#fff;
			width: 120px;
			>div{
				width:50%;
				box-sizing: border-box;
				&:first-child{
					margin-right:5px;
				}
				&:nth-child(2){
					margin-left:5px;
				}

				.day{
					background-color:$brand-secondary;
					padding: 5px 10px;
					.day-of-week{
						text-transform:uppercase;
						font-size:14px;
					}
					.day-of-month{
					    font-size: 30px;
					    font-weight: 600;
					    line-height: 30px;
					}
				}
				.year-month{
					background-color:$brand-primary;
					padding: 5px 10px;
					font-size:14px;
				}
			}
		}
		.content{
			padding: 0 gutter();
			text-align: center;
			margin-top: 15px;
			width: calc( 100% - 120px );

			@include breakpoint($screen-xs-min){
				text-align: left;
				margin-top: 0;
			}

			h3{
				margin-bottom: 0;
			}
			.meta{
				color: $brand-primary;
				font-style: italic;
				padding: 5px 0;
				font-size: 15px;
			}
			p{
				font-size:.9rem;
				line-height:1.4;
			}
			.learn-more{
				display:block;
				font-weight:300;
				margin-top:5px;
			}
		}
	}
}

.panel-group{
	.panel{
		margin-top:0 !important;
		border: 1px solid $brand-primary;
		border-radius:0;
		&:not(:first-child){
			border-top:0;
		}
		.panel-heading{
			padding:0;
			.panel-title{
				a{
					display: block;
					padding: 15px 50px;
					position: relative;
					background-color: #fff;
					color: $brand-primary;
					.fa-pencil-square-o{
						position: absolute;
					    left: 15px;
					    font-size: 24px;
					    top: 0;
					    transform: translateY(50%);
					}
					&:hover{
						background-color: $brand-secondary;
						color: #fff;
					}
					&[aria-expanded="true"]{
						background-color: $brand-primary;
						color:#fff;
					}
				}
			}
		}
		.panel-body{
			padding-left: 50px;
			padding-right: 50px;
			a.read-more{
				font-size: .9rem;
			}
		}
	}
}

.top-banner{
	background-position: center center;
	display: flex;
    justify-content: center;
    align-items: center;
    h2{
    	color:#fff;
    	text-shadow: 0px 2px 9px black;
    	text-transform:uppercase;
    	@media only screen and (max-width: $screen-sm-min + 1) {
			font-size:1.8rem;
    	}
    }
}

.block{
	@media only screen and (max-width: $container-width) {
		padding-left: gutter();
		padding-right: gutter();
	}
}

.financing{
	>div{
		@include split-content();
		.cta{
			margin-top: gutter();
		}
	}
}

.service-archive{
	>div{
		.h4{
			color: $brand-primary;
		}
		.services-list{
			display:flex;
			flex-wrap:wrap;

			img{
				width:100%;
				display:block;
			}

			>div{
				width: 100%;
				padding: gutter();
				box-sizing: border-box;

				@include breakpoint($screen-sm-min){
					width: 50%;
				}

				@include breakpoint($screen-md-min){
					width: 33.33%;
				}

				@include breakpoint($screen-lg-min){
					width: 25%;
				}
			}
		}
	}
}

.services-grid{
	display:flex;
	flex-wrap:wrap;

	>div{
		width:100%;
		display:flex;
		justify-content:center;
		align-items:center;
		background-color: $headings-color;
		box-sizing: border-box;
		padding: 10px 15px;
		margin: 10px;
		font-size:.9rem;

		a{
			color:#fff;
		}

		@include breakpoint($screen-xs-min){
			width: calc( 50% - 20px );
		}
		@include breakpoint($screen-sm-min){
			width: calc( 33.33% - 20px );
		}
		@include breakpoint($screen-md-min){
			width: calc( 25% - 20px );
		}
		@include breakpoint($screen-lg-min){
			width: calc( 20% - 20px );
			min-height:62px;
		}
	}
}

.service-top-banner{
	>div{
		@extend .pt-xs;
		@extend .pb-xs;
		display:flex;
		flex-wrap:wrap;
		>div{
			box-sizing: border-box;
			padding: 0px gutter()*3;

			&:first-child{
				width: 100%;
				order: 2;
				h2{
					display:none;
				}
			}
			&:last-child{
				width: 100%;
				order: 1;
			}

			@include breakpoint($screen-sm-min){
				&:first-child{
					width: 60%;
					order: 1;
					h2{
						display:block;
					}
				}
				&:last-child{
					width: 40%;
					order: 2;
				}	
			}
			.gform_wrapper{
				padding-top:0;
				padding-bottom:0;
				.gfield_label{
					text-transform:uppercase;
					font-size:.8rem;
					font-weight:400 !important;
					display:none;
					span{
						display:none;
					}
				}
				.gfield{
					margin-top: 0 !important;
					margin-bottom: gutter();
				}
				.ginput_container{
					margin-top:0 !important;
				}
				.gform_fields input[type='text']{
					height:37px !important;
				}
				.gform_footer{
					padding-top:0 !important;
					margin-top:0 !important;
					padding-bottom:0 !important;
					margin-bottom:0 !important;
					text-align:center;
					.gform_button{
						background-color:$headings-color;
						color:#fff;
					}
				}
			}
		}
	}
}

//Text Editor
.main-content{
	h2, h3, h4, h5, h6{
		color: $headings-color;
		font-style: italic;
		font-weight: 400;
	}
	strong, b{
		color: $brand-primary;
	}

	ul, ol{
		padding-left:20px;
		margin:0;
		ul, ol{
			padding: 10px 0 10px 50px;
			&:last-child{
				padding-bottom:0;
			}
		}
	}
	ol{
		list-style: upper-latin;
	}
	ul{
		list-style: disc;
	}

	.entry-content, h3, h4{
		@extend .pt-sm;
	}
}

.slick-slide{
	img{
		width:100%;
	}
}

.gm-style .logo img{
	width: 100%;
    height: auto;
    max-width: 70px !important;
    padding: 10px 0 0 0;
}