.container{
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    box-sizing:border-box;
}

.container-lg{
    @extend .container;
    max-width: 1400px;
}

// Site Content
.site-content{
	width: susy-span(12);

	.body-copy{
		padding: 0 gutter(); 
	}
}

// Site Header
.site-header{
	
}

// Site Footer 
.site-footer{

	#site-footer{

		>div{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			>div{
				padding: 0 25px;
			}

			.nav-footer{
				width: 150px;
			} 

			.address-card{
				padding-top:0;
			}

			.twitter-feed{
				width: 300px;
			}

			.company-news{
				width: 150px;
			}
			
			.blog-feed{
				width: susy-span(12);
				margin-bottom: gutter();

				@include breakpoint($screen-sm-min){
					order: -1;
				}

				@include breakpoint($screen-lg-min){
					order: initial;
					width: susy-span(6);
				}
			}

			.footer-utility{
				width: 265px;		
			}
		}
	}

	#site-legal{
		>div{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			
			.site-info{
				width: susy-span(12);
				text-align: center;

				@include breakpoint($screen-xs-min){
					width: susy-span(6);
					text-align: left;
				}
			}

			.site-longevity{
				width: susy-span(12);
				text-align: center;


				@include breakpoint($screen-xs-min){
					width: susy-span(6);
					text-align: right;
				}
			}
		}
	}

}
