//
a{
	text-decoration:none;
	color:$link-color;
	&:hover{
		color:$link-hover-color;
	}
}

h1,h2,h3,h4,h5,h6{
    margin-top:0 !important;
}

.body-copy ul {
	list-style-type: disc;
	margin-left: 1rem;
	display: block; 
	list-style-type: disc; 
	margin-top: 1em; 
	margin-bottom: 1em;  
	padding-left: 40px;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}

p{
	margin-bottom: 10px;
}

blockquote{
	border-left:0;
	margin-bottom:0;
}