// ---- Susy Grid

$susy: (
  'columns': susy-repeat(12),
  'gutters': 15px, 
  'spread': 'narrow', 
  'container-spread': 'narrow',
);

$container-width: 1200px;
 
// ----- Font Awesome

$fa-font-path:        						"./assets/dist/fonts";

// ---- Font Family

$font-family-base:							'Roboto', sans-serif;
$headings-font-family:    					'Amaranth', sans-serif;

// ---- Padding

$padding-base-vertical: 15px;

// ---- Colors

$gray-base:              					#000;
$gray-darker:            					lighten($gray-base, 13.5%); // #222
$gray-dark:              					lighten($gray-base, 20%);   // #333
$gray:                   					lighten($gray-base, 33.5%); // #555
$gray-light:             					lighten($gray-base, 46.7%); // #777
$gray-lighter:           					lighten($gray-base, 93.5%); // #eee

$brand-primary:          					#8EA306;
$brand-secondary:        					#D3DA36;

$headings-color:          					#663109;

// ---- Header

$header-block-padding: 						15px;

$header-logo-width: 						150px;
$header-logo-width-sm: 						250px;
$header-logo-width-md: 						250px;

//Sticky Header

$sticky-header-bg-color:					#fff;

// ---- Nav Bar

$navbar-default-bg: 						transparent;

$navbar-font-size:							14px;
$navbar-font-size-sm:						14px;
$navbar-font-size-md:						14px;

$navbar-margin-bottom:          			0;
$navbar-height:                 			0;
$navbar-border-radius:          			0;

$navbar-default-link-color:     			$brand-primary;
$navbar-default-link-hover-color:          	$brand-primary;
$navbar-default-link-hover-bg:             	transparent;
$navbar-default-link-active-color:         	#fff;
$navbar-default-link-active-bg:            	$brand-primary;

// ---- Typography

//$font-family-base:        				$font-family-sans-serif;

$base-font-size:         	  				15px;
$base-font-size-sm:          				15px;
$base-font-size-md:         				16px;

$line-height-base:        					1.7;
$line-height-computed:						40px;

$font-size-h1:            					2rem;
$font-size-h2:            					1.6rem;
$font-size-h3:            					1.4rem;

$headings-font-weight:    					500;
$headings-line-height:    					1.1;


// ---- Link
$link-color:            					$brand-primary;
$link-hover-color:      					$brand-primary;

// ---- Media Query
$screen-xs-min: 480px;
$screen-sm-min: 769px;
